alement{
    background: yellow;
    color: blue;
}

element2{
    background: blue;
    color: yellow;
}

blement3{
    background: blue;
    color: yellow;
    display: inline;
}

element4{
    background: blue;
    color: yellow;
}

